@model MovieDatabase.Web.ViewModels.Reviews.CreateReviewInputViewModel

    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
    </script>

    <form method="post">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Review</label>
            <textarea class="form-control" asp-for="@Model.Content" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Your Rating</label>
            <select class="form-control" asp-for="@Model.Rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>