@model MovieDatabase.Web.ViewModels.SideBarViewModel

<!-- Comments -->
<div class="posts margin-bottom-40 container-fluid">
    <div class="headline">
        <h3>Recent Comments</h3>
    </div>
    @foreach (var comment in Model.RecentComments)
    {
        <dl class="dl-horizontal mw-100">
            <dd>
                <p>
                    <a href="/Reviews/Details/@comment.MovieId">@comment.MovieTitle</a>
                    <div class="text-break">@Html.Raw(comment.SanitizedContent)</div>
                </p>
            </dd>
        </dl>
    }
</div>
<!-- End Comments -->