@model MovieDatabase.Web.ViewModels.DropDownViewModel
<li>
    <div class="dropdown nav-item">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genres
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var genre in this.Model.Genres)
            {
                <a class="dropdown-item" asp-area="" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="@genre.Type">@genre.Type</a>
            }
        </div>
    </div>
</li>