@model MovieDatabase.Web.ViewModels.Movies.CreateMovieInputViewModel

<form method="post">
    <div class="form-group">
        <label>Movie title</label>
        <input asp-for="Title" class="form-control form-control-lg" type="text" placeholder="">
    </div>
    <div class="form-group">
        <label >Your movie rating</label>
        <select asp-for="Rating" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label>Movie genre</label>
        <select multiple class="form-control">
            <option>action</option>
            <option>horror</option>
            <option>comedy</option>
            <option>thriller</option>
            <option>documentary</option>
        </select>
    </div>
    <div class="form-group">
        <label>Description of the movie</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>Enter movie quotes separated by a new line</label>
        <textarea asp-for="MovieQuotes" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>Enter your review here</label>
        <textarea asp-for="Review" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>Image Url</label>
        <input asp-for="ImageUrl" class="form-control form-control-lg" type="text" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
