@model MovieDatabase.Web.ViewModels.Movies.HomePageMoviesViewModel
@using MovieDatabase.Common
@{ this.ViewData["Title"] = GlobalConstants.SystemName; }



@foreach (var movie in Model.Movies)
{
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@movie.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@movie.Title</h5>
        <p class="card-text">@movie.FirstQuote</p>
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
    </div>
</div>}
<vc:sidebar></vc:sidebar>






